@CHARSET "UTF-8";

.pageTitle {
	font-size: 3.2em;
	padding: 20px;
}

.postTitle {
	font-size: 2.2em;
	padding-top: 20px;
}

select.categories {
	multiple: multiple;
}

.author {
	font-size: 1.0em;
	padding: 10px;
}

.author a {
	color: gray;	
}

.description {
	padding-bottom: 10px;
}

#chartContainer {
	height: 300px;
}

.tags {
	display: inline;	
}

.tag {
	display: inline;
	border: 1px solid;
	margin-left: 5px;
}

resizableChapterPlace {
	margin: 0 auto;
	border: 1px solid;
	min-width: 75px;
}

#textChapterPlace {
	overflow: auto;
}

.pageContainer {
	max-width: 1000px;
	margin: 0 auto;
}

.sidePanel {
	border-left: 1px solid black;
}

.flag {
	max-width: 20px;
	max-height: 20px;
}