@CHARSET "UTF-8";

body {
	word-wrap: break-word;
}

.pageTitle {
	font-size: 2.5em;
	line-height: 1.2;
	padding: 20px;
}

.postTitle {
	font-size: 1.7em;
	line-height: 1.2;
	padding-top: 10px;
}

.postTitle :HOVER {
	color: black;
}

select.categories {
	multiple: multiple;
}

.author {
	font-size: 1.0em;
	padding: 10px;
}

.author a {
	color: gray;
}

.description {
	padding-bottom: 10px;
}

#chartContainer {
	height: 300px;
}

.tags {
	display: inline;
}

.tag {
	display: inline;
	margin-left: 5px;
}

#resizableChapterPlace {
	min-width: 300px;
	max-width: 100%;
}

#textChapterPlace {
	overflow: auto;
}

.pageContainer {
	max-width: 1100px;
	margin: 0 auto;
}

.sidePanel {
	
}

.span9 {
	
}

.flag {
	max-width: 20px;
	max-height: 20px;
	display: inline;
}

.flags {
	display: inline;
}

#tagcloud {
	margin-left: 10px;
	margin-top: -30px;
	margin-bottom: -55px;
}

#tagcloud a {
	text-decoration: none;
	font-style: oblique;
}

.categories {
	padding-left: 10px;
}

#convertToPdf {
	display: block;
	margin-left: auto;
}

#contentTitle {
	font-size: 1.5em;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 15px;
}

.nextChapterLink {
	float: right;
}

.commentTextarea textarea {
	min-width: 98%;
	max-width: 98%;
	min-height: 50px;
	height: 100px;
}

.comment {
	border: 1px solid black;
	min-height: 100px;
	background-color: #e4dfcc;
	padding: 5px;
}

#scrollUp {
	bottom: 20px;
	right: 20px;
	height: 38px; /* Height of image */
	width: 38px; /* Width of image */
	background: url(../../resources/images/top.png) no-repeat;
	outline: none;
}

.contentItem {
	font-size: 1.2em;
	line-height: 1.2;
	display: inline;
}

.goToContentLink {
	text-align: center;
	display: block;
}

.sidebar-nav {
	margin-top: 50px;
}

footer {
	padding-bottom: 10px;
	text-align: center;
	display: block;
	margin: 0 auto;
}

.remove {
	margin-top: -5px;
	background: none;
	border: 0;
	color: red;
}

.remove:HOVER div {
	font-weight: bold;
}

form {
	display: inline;
}

.delimiter {
	padding-top: 7px;
	font-size: 1.3em;
}

.descriptionCreate {
	min-width: 98%;
	max-width: 98%;
	min-height: 50px;
	height: 100px;
}

.chapterCreate {
	min-width: 98%;
	max-width: 98%;
	min-height: 50px;
	height: 350px;
}

.account {
	font-size: 1.1em;
}