@CHARSET "UTF-8";

.pageTitle {
	height: 50px;
	font-size: 2em;
	color: rgb(15, 141, 217);
}

select.categories {
	multiple: multiple;
}

#chartContainer {
	height: 300px;
}

.tag {
	border: 1px solid;
	float: left;
	margin-left: 5px;
}

#resizableChapterPlace {
	margin: 0 auto;
	border: 1px solid;
	min-width: 75px;
}

#textChapterPlace {
	overflow: auto;
}

.pageContainer {
	max-width: 1000px;
	margin: 0 auto;
}

.sidePanel {
	border-left: 1px solid black;
}

.flag {
	max-width: 20px;
	max-height: 20px;
}